<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637218275668-usarhjnuko3idjo24eqqu8k6sof1k7kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637218275668-usarhjnuko3idjo24eqqu8k6sof1k7kj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>637218275668-6f2sflumvie83dpojbvu3vpns6mh9qp1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAA3W9VCFJyW67UngoBTwjidnKz7H8UdUc</string>
	<key>GCM_SENDER_ID</key>
	<string>637218275668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pasKelas11.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pas-ecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>pas-ecommerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637218275668:ios:ce6289c970ce5afe0108c1</string>
</dict>
</plist>